{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/user.css') }}">
{% endblock %}

{% block body %}


	{% block nav %}
		<nav class="navbar navbar-expand-lg navbar-light shadow border-secondary border-bottom col-md-9 ml-sm-auto col-lg-10 bg-white">
			<a class="navbar-brand text-black" href="{{ path ("app_accueil") }}">ADALOVELACE</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeaderToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
				<span class="btn btn-light">MENU</span>
			</button>

			<div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarHeaderToggler">
				<ul class="nav align-items-center mx-5">
					<li class="nav-item active">
						<a class="nav-link text-dark" href="{{ path ("app_accueil") }}">Accueil<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" href="{{ path ("app_actualite") }}">Actualités</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" href="{{ path ("app_equipe") }}" tabindex="-1" aria-disabled="true">Nos Equipes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-dark" href="{{ path ("app_contact") }}" tabindex="-1" aria-disabled="true">Contact</a>
					</li>
					<li>
						<input class="rounded" type="search" placeholder="recherche">
					</li>
				</ul>
			</div>

		</nav>
	{% endblock %}

	{% block header %}{% endblock %}


	{% block main %}

		{# asideNav #}
		<nav class="sidebar text-black col-sm col-lg-2 border-right border-secondary bg-white p-0">
			<ul class="card-body">
				<li>
					{# {% if app.user %} #}
					<div class="text-black mb-3 mx-0">
						<h5 class="text-info font-weight-bold">{{ app.user.firstname }}
							{{ app.user.lastname }}</h5>
					</div>
					{# {% endif %} #}
				</li>
				<li class="mt-4">
					<a class="text-dark font-weight-bold" href="{{ path ("particulier_mon-espace") }}"><img class="mx-2" src="{{ asset('img/homeIco.png') }}" alt="">
						Mon Espace</a>
				</li>

				<li class="mt-4">
					<p class="text-dark font-weight-bold"><img class="mx-2" src="{{ asset('img/bankIco.png') }}" alt="">Mes Comptes</p>
					<ul>
						<li>
							<a class="text-dark" href="{{ path ('particulier_mon-compte')}}">Compte Courant</a>
						</li>
						<li>
							<a class="text-dark" href="{{ path ('particulier_mon-compte')}}">Livret A</a>
						</li>
						<li>
							<a class="text-dark" href="{{ path ('particulier_mon-compte')}}">PEL</a>
						</li>
						<li>
							<a class="text-success font-weight-bold" href="{{ path ('particulier_ajouter-un-compte')}}">Ajouter un compte</p>
						</li>
					</ul>
				</li>

				<li class="mt-4">
					<p class="text-dark font-weight-bold"><img class="mx-2" src="{{ asset('img/bookIco.png') }}" alt="">Mes Informations</p>
					<ul>
						<li><a class="text-dark"href="{{ path ('particulier_mon-identite')}}">Mon indentité</a></li>
						<li><a class="text-dark" href="">RIB</a></li>
						<li><a class="text-dark" href="">BIC</a></li>
					</ul>
				</li>

				<li class="mt-4">
					<p class="text-dark font-weight-bold"><img class="mx-2" src="{{ asset('img/secuIco.png') }}" alt="">Mes Assurances</p>
					<ul>
						<li><a class="text-dark" href="">Santé</a></li>
						<li><a class="text-dark" href="">Immobilier</a></li>
						<li><a class="text-dark" href="">Automobile</a></li>
					</ul>
				</li>

				<li class="mt-4">
					<p class="text-dark font-weight-bold"><img class="mx-2" src="{{ asset('img/contactIco.png') }}" alt="">Contact en Agence</p>
					<ul>
						<li><a class="text-dark" href="">Mon conseiller</a></li>
					</ul>
				</li>
				<li class="text-center mt-5">
					<a class="text-center text-danger border-top border-white bg-dark" href="{{ path ('app_logout') }}">
						<h5 class="btn btn-danger text-white font-weight-bold">Deconnexion</h5>
					</a>
				</li>
			</ul>
		</nav>
		{# ./asideNav #}

		<main class="col-md-9 ml-sm-auto col-lg-12 px-md-4 mt-5">
			<div>
				{% for message in app.flashes('success') %}
					<div class="alert alert-success" role="alert">{{ message }}</div>
				{% endfor %}
			</div>

			<div class="container">
				<div class="row">
					<div class="col-sm col-lg-6">
						<h1>Ajout d'un nouveau compte</h1>
						{{form(form)}}
					</div>
				</div>
			</div>
		</main>
	{% endblock %}

	{% block footer %}{% endblock %}
{% endblock %}
