{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/user.css') }}">
{% endblock %}

{% block body %}

	{# Top nav #}
	{% block nav %}
		<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow col-md-9 ml-sm-auto col-lg-12 bg-black">
			<a class="navbar-brand text-warning ml-5" href="{{ path ("app_accueil") }}">ADALOVELACE</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeaderToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
				<span class="btn btn-light">MENU</span>
			</button>

			<div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarHeaderToggler">
				<ul class="nav align-items-center mx-5">
					<li class="nav-item active">
						<a class="nav-link text-white" href="{{ path ("app_accueil") }}">Accueil<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" href="{{ path ("app_actualite") }}">Actualités</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" href="{{ path ("app_equipe") }}" tabindex="-1" aria-disabled="true">Nos Equipes</a>
					</li>
					<li>
						<input class="rounded" type="search" placeholder="recherche">
					</li>
				</ul>
			</div>

		</nav>
	{% endblock %}
	{# Top nav #}

	{% block main %}

		<main
			class="wrapper">

			{# sideNavBar #}
			{% include "template-elem/userDash/sideBarNav.html.twig" %}
			{# sideNavBar #}

			<div
				class="content">

				{# navMiddle #}
				{% include "template-elem/userDash/navMiddle.html.twig" %}
				{# ./navMiddle #}

				<div class="row">
					<div class="col-lg d-flex flex-wrap justify-content-center my-5">
						<div class="card text-white shadow  mb-5 bg-white rounded">
							<div class="card-header bg-ligthBlack text-center shadow">
								<h4 class="text-white">{{account.AccountType.name}}</h4>
							</div>
							<div class="card bg-darkGrey mx-auto mt-3 mb-3">
								<h5 class="card-title font-weight-bold m-1 p-2">Solde :
									{{account.amount}}
									<span class="text-warning">€</span>
								</h5>
							</div>
							<div class="card-body">
								<div class="d-flex flex-column">
									{% for transfert in account.transferts %}
										<div class="d-flex align-items-center">
											<div class="mx-3 mt-2">
												<p class="card-title">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
											</div>
											<div class="mx-3">
												<p class="card-title m-0">
													<span class="bg-white">|</span>
													<span class="font-weight-bold">{{transfert.amount}}</span>
													<span class="text-warning">€</span>
												</p>
											</div>
										</div>
										<hr class="bg-white m-3">
									{% endfor %}

								</div>

							</div>
							<div
								class="card-footer text-center">

								{# delete account #}
								<a class="btn btn-danger shadow" href="">Supprimer mon compte</a>
								<div class="collapse" id="">
									<div class="card card-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
									</div>
								</div>
								{# ./delete account #}

								{# <a class="btn btn-success shadow" href="{{ path ("make-transfert") }}">Faire un virement</a> #}
							</div>
						</div>
						<div class="col-4 card text-black shadow mx-2 mb-5 bg-white rounded">
							<img src="https://png2.cleanpng.com/sh/4ec80895cc44d4ebaefdbb663c2e6117/L0KzQYi4UsA4N5c8SpGAYUK8QrPsUPQyO2Y6UJC9M0O1RYe5UsE2OWM7TKkBNEi7RYeCTwBvbz==/5a292be0d13558.4332562215126476488569.png" alt="" style="heigth: 100%; width: 39rem">
						</div>
					</div>
				</div>
			</div>

		</main>
	{% endblock %}

	{% block footer %}{% endblock %}
{% endblock %}
